[user]
	name = guyon
	email = guyon@exsample.local
[alias]
	ci = commit -a
	co = checkout
	st = status -a
	praise = blame 

[apply]
	whitespace = strip

[diff]
	color = auto
	rename = copy 

[pager]
	color = true 

[status]
	color = auto
[github]
  user = guyon
#httpにプロキシ設定を使う場合は設定する 
;[http]
;	proxy = hostname:portnum
